{% extends "main.html" %}

{% block content %}

	<div class="row">
		 <div class="col-md-3 ">
				<h6>Categories</h6>
				<ol>
					{% for category in categories %}
						<a href="{{url_for('showCategory', catalog_id = category.id )}}">
								<li><span class="item__name">{{category.name}}</span></li>
						</a>
					{% endfor %}
				</ol>
		  </div>

		<div class="col-md-6 col-md-offset-2">
				<h6>
					<span>{{categoryName}} Instruments ({{categoryItemsCount}} Items)</span>
					</h6>
				<ol>
					{% for categoryItem in categoryItems %}
						<a href="{{url_for('showCategoryItem', catalog_id = categoryItem.category_id ,item_id = categoryItem.id )}}">
							<li>
								<span>{{categoryItem.name}}</span>
							</li>
						</a>
					{% endfor %}
				</ol>
				
		</div>
	</div>

{% endblock %}