<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Item Catalog</title>
    <!--Load pre-requisites for google sign in-->
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
	<script src="//apis.google.com/js/platform.js?onload=start"> </script>
	<!--End Pre requisites for google sign in-->
</head>
<body>
	<script>
		function signInCallback(authResult) {
			if (authResult['code']) {
				// Hide the sign-in button now that the user is authorized
				$('#signinButton').attr('style', 'display: none');

				// Send the one-time-use code to the server, if the server responds, write a 'login successful' message to the web page and then redirect back to the main restaurants page
				$.ajax({
					type: 'POST',
					url: '/gconnect?state={{STATE}}',
					processData: false,
					data: authResult['code'],
					contentType: 'application/octet-stream; charset=utf-8',
					success: function(result) {
			        	// Handle or verify the server response if necessary.
				        if (result) {
				        	$('#login').html('Logging in...')
							window.location.href = "/catalog";
						} else if (authResult['error']) {
							console.log('There was an error: ' + authResult['error']);
						} else {
							$('#login').html('Failed to make a server-side call. Check your configuration and console.');
						}
					}
				});
			}
		}
	</script>

	<div class="container">
	
			<div>
				<a href="/">
					<h1>Catalog Items</h1>
				</a>
				<div>
					{%if 'username' not in session %}
					<a href="{{url_for('login')}}">
						Login
					</a>
					{% else %}
					<a href="{{url_for('logout')}}">
						Logout
					</a>
					{% endif %}
				</div>
			</div>

		<div>
			<div id="login">
                <!--google plus sign in -->
				<div id="signInButton">
					<span class="g-signin"
						data-scope="openid email"
						data-clientid="89879007389-rd8f2jv90vkp1f3sqh8p98m3vr2fh459.apps.googleusercontent.com"
						data-redirecturi="postmessage"
						data-accesstype="offline"
						data-cookiepolicy="single_host_origin"
						data-callback="signInCallback"
						data-approvalprompt="force">
					</span>
				</div>

			</div>
		</div>
	</div>
</body>
</html>